*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 5%;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#nav{
    grid-column: 2/3;
    margin-left: 10%;
    padding: 20px;
}

#search{
    grid-column: 20;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;.
    border-radius: 24px;
}

#search-box{
    border-radius: 7px;
    border: none;
    padding: 12px;
}

#search-button{
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

main{
    display: flex;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: x-large;
}

.login-form-field{
    width: 750px;
    height: 40px;
    border: 2px solid lightgray ;
    border-radius: 6px;
    justify-content: space-between; 
}

#login-button{
    background-color: rgb(96, 96, 255);
    border: 2px solid cyan;
    color: white;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-family: sans-serif;
}
