*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/*Top banner*/
#topnav{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 10%;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbut{
        background-color: transparent;
    border: transparent;
    color: white;
    font-size: larger;
}

.search{
    grid-column: 20;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;.
    border-radius: 24px;
}

#search-box{
    border-radius: 7px;
    border: none;
    padding: 12px;
}

#search-button{
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
/*Top banner*/

main{
    display: flex;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: x-large;
}

.login-form-field{
    width: 750px;
    height: 40px;
    border: 2px solid lightgray ;
    border-radius: 6px;
    justify-content: space-between; 
}

.login-button{
    background-color: rgb(96, 96, 255);
    border: 2px solid cyan;
    color: white;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-family: sans-serif;
}
#movies{
    diplay: grid;
    grid-template-columns: repeat(auto-fill, 25%)
}
#return{
    display: flex;
    background-color: rgb(63, 63, 63);
    border-radius: 5px;
    justify-content: start;
    align-items: center;
    margin: 5px;
    padding: 15px;    
}
.backtoresults{
    background-color: transparent;
    border: transparent;
    color: yellow;
    font-size: larger;
}
#movie-info{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.movie-details{
    margin-left: 25px;
}

#comment{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.comment{
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px;
    font-size: larger;
}